<div> 
    <label>BusinessOwnerName</label> 
     <input type="text" id="name" placeholder="Enter Name" name="name" #BusinessOwnerName><br><br> 
   </div>
   <div> 
    <label>TrainingId</label> 
     <input type="text" id="trainingid" placeholder="Enter City" name="trainingid"  #TrainingId><br><br> 
   </div>
   <div> 
    <label>TrainingName</label> 
     <input type="text" id="trainingname" placeholder="Enter TrainingName" name="trainingname" #TrainingName><br><br> 
   </div>

<button (click)="GotoHall(TrainingId.value)">Go</button>&nbsp;
<button (click)="refresh()">Refresh</button>





